@import "src/styles.scss";

body{
    background-color: #424242;
}

.example-card {
    position: relative;
    max-width: 400px;
    height: 400px;
}

.cards{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #424242;
  padding: 8px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.example-card {
    max-width: 700px;
    margin-bottom: 6px;
  }
  
  .example-card2 {
    max-width: 1100px;
    margin-bottom: 6px;
  }
  
  .example-card3 {
    max-width: 600px;
    margin-bottom: 6px;
  }
  
  .example-card4 {
    max-width: 1000px;
    margin-bottom: 6px;
  }