<div class="row" align="end">
    <mat-icon class="icon-hover">close</mat-icon>
</div>
<h2 mat-dialog-title align="center">Login</h2>
<div mat-dialog-content></div>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
            <button class="icon-hover" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button>Confirm</button>
</div>