<mat-toolbar>
  <span>Inspire Academy</span>
  <span class="example-spacer"></span>
  <mat-icon (click)="dialogLogin()">power_settings_new</mat-icon>
</mat-toolbar>
 

<div>
  <img src="./assets/logo-only.png" alt="Hello" class="img">
  <br>
  <div class="container">
      <div class="row">
          <div class="col">
              <mat-card class="card-border-left">
                  <mat-card-content>
                      <h1 class="title" >
                         Welcome to Inspire Academy
                      </h1>
                      <br>
                      <h5 class="content">
                          <span class="highlight">Inspire Academy</span> is the Maths, Science, Accounting and ICT tutorship programme of IFG Africa.
                           The Academy was established in 2013 to assist the Eastern Cape government 
                           in improving the pass rates for the key higher learning institution gateway subjects. Inspire Academy now has 
                            The Academy supports learners from Grade 6 - 12. Inspire Academy now has 4 centres accross South Africa,
                            namely, 2 in Bisho, 1 in King Williams Town and 1 in Soweto.
                            <br> Inspire Academy offers the following courses:
                            <br>Grade 6 Maths 
                            <br>Grade 6 ICT
                            <br>Grade 7 Maths
                            <br>Grade 7 ICT
                            <br>Grade 8 Maths
                            <br>Grade 8 ICT
                            <br>Grade 8 Physics
                            <br>Grade 8 Accounting
                            <br>Grade 9 Maths
                            <br>Grade 9 ICT
                            <br>Grade 9 Physics
                            <br>Grade 9 Accounting
                            <br>Grade 10 Maths
                            <br>Grade 10 ICT
                            <br>Grade 10 Physics
                            <br>Grade 10 Accounting
                            <br>Grade 11 Maths
                            <br>Grade 11 ICT
                            <br>Grade 11 Phyics
                            <br>Grade 11 Accounting
                            <br> 
                            <br>
                            <button mat-raised-button color="success">Register</button>
                             <span
                              class="highlight"> </span>
                      </h5>
                      <br>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
  </div>
  <br>
</div>
<router-outlet></router-outlet>
